.addform{
    text-align: center;
    background-color: #c0def9;
    padding: 50px;
    border-radius: 20px;
    
}
h3{
    padding-bottom: 20px;
    font-family: fangsong;
}
.out{
    width: auto;
    
}